body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, tr, td {
	width: 50%;
	table-layout: fixed; /*make columns the same width*/
	margin: 0px auto;
}

h3 {
	text-align: center;
}

tr:nth-child(even) {
	background-color: whitesmoke;
}

input {
	width: 100%;
	margin: 0px auto; /*horizontal alignment*/
}

input.delete_task_btn {
	background-color: red;
	color:white;
	width: 100%;
}

input.add_task_btn {
	display: block; /*NEED THIS FOR MARGIN TO WORK*/
	margin: 0px auto; /*horizontal alignment*/
	background-color: green;
	width: 50%;
	color: white;
}

.submit_error_div {
	background-color: pink;
	color: red;
	font: 14px monospace;
}